
body{
	scrollbar-width: thin;
}

.formCargaCampa{
	display:none;
}


#divCargaCampa #botonedita{
	position:absolute;
	top:0px;
	right:0px;
}

#divCargaCampa #botoncancelaedita{
	position:absolute;
	top:0px;
	right:25px;
}


div.cajaacciones{
	position:relative;
	margin-bottom: 5px;
}

.cajaacciones a{
	display:block;
}

.cajaacciones #accionesCampa a{
	display:inline-block;
}

.cajaacciones [activo='-1'] a{
	display:none;
}

.cajaacciones [activo='-1'] a[abridor='si']{
	display:block;
}

.cajaacciones [activo='1'] a[abridor='si']{
	display:none;
}

.elementoCargaLargo{
	display:none;
	
}

.formCargaCampaCuerpo{
	display:none;
}


#contenido[divCargaCampa='si'] #divCargaCampa{
	display:block;
}

#contenido[relecargado='si'] #divCargaCampa{
	display:block;	
}

#divCargaCampa #accionesCampa{
	display:none;
}
#contenido[releeditando='si'] #accionesCampa{
	display:block;
}
#contenido[releeditando='si'] #edicionCampa{
	display:block;
}

#contenido #campos{
	display:none;
}

#contenido #divReleACapa #campos{
	display:block;
}

#contenido[camposeditando='si'] #campos{
	display:block;
}

#editarCampos{


}

#contenido[registroscargando='si'] #FormularioNuevaUA{
	display:block;

}

label{
	width:fit-content;
	font-size:13px;
	font-weight: normal;
}

input{
	width:200px;
}

select{
	width:200px;
}

textarea{
	width:calc(100% - 10px);
	height:50px;
	font-size:11px;
}

#FormularioRegistro h2 a,#FormularioRegistro h2 label{
	vertical-align:middle;
	line-height: 0;
}

#FormularioRegistro[editango_geom='si'] a#b_elim,
#FormularioRegistro[editango_geom='si'] a#b_redib{
	opacity:0.5;
	cursor:cancel;
}



#cuadrovalores label.switch{
	position: relative;
	display: inline-block;
	width: 52px;
	height: 24px;
	vertical-align: middle;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(34px);
}

#cuadrovalores .slider.round::before {
  border-radius: 50%;
}
#cuadrovalores .slider::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


#cuadrovalores .switch img{
	z-index: 2;
	position: absolute;
	top: 2px;
	left: 18px;
}
#cuadrovalores .switch:hover img{
	background-color: #08afd9;
}

div.boton_compuesto{
	display:inline-block;
}


#pageborde{
    height: calc(100vh - 20px);
    margin: 0px auto;
}
#page{
    height: calc(100vh - 35px);
    min-height: 265px;
}
#page div#cuadrovalores{
    display: inline-block;
    width: 40%;
    vertical-align: top;
	text-align:right;
	position: absolute;
	right: 1px;
	overflow-y: auto;
	z-index: 2000;
	pointer-events: all;
	height: calc(100vh - 130px);
	padding-right: 0px;

}

.filaCampaLista{
	  width: calc(50% - 5px);
	  border: 1px solid #08afd9;
	  margin: 1px;
	  height:50px;
	  overflow:hidden;
}
.filaCampaLista #campaAutoriaLista{
	position:absolute;
	right:2px;
	top:0px;
	font-style: italic;
	font-size:10px;
}


#mapa{
  width: 608px;
    max-width: 100%;
}
#cuadrovalores #contenido{
	margin-top: 5px;
	background-color: #fff;
	width: 403px;
	right: 0px;
	display: inline-block;
	margin-right: 2px;
	pointer-events:auto;
	text-align: left;
}

#cuadrovalores #divCargaCampa #titulorarlev span{
	float: right;
	display: inline-block;
	width: 240px;
	margin-right: 90px;
}

#archivosacargar #earchivoscargados{
	display:inline-block;
	width:100px;
	vertical-align:top;
}

#archivosacargar .upload{
	display:inline-block;
	width:90px;
	vertical-align:top;
	height: 37px;
}

#archivosacargar .upload > span{
	height:32px;
	width: 88px;
}
#archivosacargar #uploadinput{
	height:32px;
	width:100px;
}

#archivosacargar #shp{
	position: relative;
    top: 0px;
    left: 0px;
    min-height: 100px;
}

#archivosacargar #procesarBotonSHP{
	border:2px solid #08afd9;
    position: absolute;
    top: 2px;
    right: 0px;
    height:20px;
    line-height: 22px;
}
#archivosacargar #procesarBotonDXF{
	border:2px solid #08afd9;
    position: absolute;
    top: 20px;
    right: 0px;
    height:20px;
    line-height: 22px;
}
#archivosacargar #procesarBotonSHP[estado='inviable']{
	display:none;
}
#archivosacargar #procesarBotonDXF[estado='inviable']{
	display:none;
}

#contenido[FormularioRegistro='si'] #FormularioRegistro{
	display:block;
}

#FormularioNuevaUA{
	display:none;
}

#contenido[relecargado="si"] #FormularioNuevaUA{
	display:block;
}

#contenido[relecargado="si"] #divSeleccionCampa{
	display:none;
}

#cuadrovalores #contenido[cargarGeometrias='si'] #cargarGeometrias{
	display:block;
}


#FormularioRegistro #campospersonalizados .campo{
	position:relative;
	text-align: left;
}
#FormularioRegistro #campospersonalizados .agrupacion td{
	position:relative;
}

#FormularioRegistro{
	position:relative;
}
#FormularioRegistro #campospersonalizados .campo h3{
	display:inline-block;
	width:200px;
	text-align:right;
}

#FormularioRegistro #campospersonalizados .campo input{
	display:inline-block;
	width:100px;
}

#FormularioRegistro #campospersonalizados .campo select {
    display: inline-block;
    width: 130px;
}
#FormularioRegistro #campospersonalizados .divayuda{
		position:relative;
	display:inline-block;
	width:12px;	
	margin:2px;
}
#FormularioRegistro #campospersonalizados .divayuda a{
	border: 1px solid #08afd9;
	border-radius:3px;
	text-align:center;
	width: 10px;
    height: 11px;
}
#FormularioRegistro #campospersonalizados .divayuda a[vacio='si']{
	border: 1px solid #bbb;
	color: #bbb;
}

#FormularioRegistro #campospersonalizados .divayuda > div{
	border: 1px solid #08afd9;
	display:none;
	position:absolute;
	top: 25px;
	left: -150px;
	height:auto;
	min-height:50px;
	width:300px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.5);
	z-index:2000;
	background-color:#fff;
	font-weight:normal;
	text-align:justify;
}
#FormularioRegistro #campospersonalizados div.divayuda:hover > div{
	display:block;
}
#FormularioRegistro #campospersonalizados .campo input[type='checkbox'] {
	width:10px;
}

#FormularioRegistro #campospersonalizados .campo input[type='text'] {
	width: 358px;
}
#FormularioRegistro #campospersonalizados .campo input[type='text'].numero{
	width:60px;
}

#FormularioRegistro #campospersonalizados .agrupacion td{
	border:1px solid #000;
	margin:1px;
} 

#listadoDocumentos p.carga span{
	position: absolute;
	width: 60px;
}

#listadoDocumentos p.carga:hover span{
	color:#fff;
}

#FormularioRegistro [name="idgeom"]{
	background-color:#fff;
	border:none;
	color:silver;
	margin:0px;
	padding:0px;
	width:70px;
}

#FormularioRegistro .aux{
	color:silver;
	margin:0px;
	padding:0px;
	font-size:11px;
	font-weight:normal;
}

#FormularioRegistro #superficie{
	position:absolute;
	top:30px;
	left:13px;
	font-size: 12px;
	font-weight: normal;
	cursor:help;
}



#FormularioRegistro #autoria{
	position: absolute;
	top: 16px;
	right: 0px;
	width: 90px;
	height: 50px;
	text-align: right;
	font-size: 11px;
}

#FormularioRegistro h2 img{
	max-height:24px;
}

#divReleACapa select{
	width:170px;
}
#divReleACapa input{
	width:80px;
}

#cuadrovalores input[type="button"], #cuadrovalores input[type="submit"], #cuadrovalores input[type="reset"] {
    min-width:100px;
    width: auto;
    display:inline-block;
}    




.campo #uploader{
	vertical-align:top;
	box-shadow:2px 2px 5px 2px rgba(0,0,0,0.5) inset;
    display:inline-block;
	height:auto;
	width:60px;
	margin:0px;	
}

.campo #uploader #documento{
	color:#08afd9;
	cursor:pointer;	
}	
.campo #uploader #documento:hover{
	color:#fff;
	background-color:#08afd9;	
	
}		

.campo #uploader #contenedorlienzo{
	height:33px;
    display:inline-block;
    margin-bottom:0px;
}

.botoncerrar{
	position:absolute;
	right:1vw;
	top:1vh;
}

.campo #uploader #contenedorlienzo #lienzo{
	vertical-align:top;
	display:inline-block;
	position:relative;
	border:2px solid #aaa;
}
.campo #uploader #contenedorlienzo #upload{		
	position:absolute;
	display:inline-block;
	border:0px solid #aaa;
	position:relative;
	height:30px;
	width:60px;
}

.campo #uploader #contenedorlienzo #upload label{
	height:calc(100% - 4px);
	width:calc(100% - 5px);
	font-size:11px;
	color:#999;
	margin:5px;
	text-align:center;
	line-height:10px;
	display: inline-block;
}
	
.campo #uploader #contenedorlienzo #uploadinput{
	opacity:0;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
}
.campo #uploader #contenedorlienzo #uploadinputlink{
	opacity:0;
	position:absolute;
	top:0;
	left:0;
    height:calc(100% - 4px);
	width:calc(100% - 5px);
	font-size:15px;
	color:#999;
	margin:5px;
	text-align:center;
	line-height:10px;
	display: inline-block;
}
.campo #listadoDocumentos{
	display:inline-block;
    width: 285px;
    height:32px;
    background-color: #fff;
    border: 1px solid lightblue;
    z-index: 20;
	max-height: 320px;
	overflow-y: scroll;
	position: relative;
	overflow-x: hidden;
	scrollbar-width: thin;
}
.campo #listadoDocumentos .item[zz_sis="Publ"]{
	display:none;
}

.campo #listadoDocumentos .carga{
	display:inline-block;
	width:60px;
	height:30px;
	border:1px solid #08afd9;
}
.campo #listadoDocumentos .carga img{
	display:inline-block;
	max-width:60px;
	max-height:30px;
	cursor:pointer;
}
#listadecampos > form{
	position:relative;
	margin:0px;
	border:2px solid #000;
	margin-top: 5px;
	padding-top: 5px;
}
#listadecampos > form label{
	text-align:right;
}
#listadecampos > form label .aux{
	font-size:11px;
	font-weight:normal;
	width: auto;
}
#listadecampos > form select{
	width:80px;
}

form#nuevocampo{
	position:relative;
}

form > a{
	border:1px solid #08afd9;
	margin:2px;
	box-shadow:2px 2px 1px rgba(0,0,0,0.8);	
}
#accionescampo > a{
	border:1px solid #08afd9;
	margin:2px;
	box-shadow:2px 2px 1px rgba(0,0,0,0.8);	
	display:block
}

#accionescampo > a.elimina{
	border-color:red;
	color:red;
}

#accionescampo{
	position:absolute;
	top:0px;
	right:0px;
}

div[para='select'] label{
	width:300px;
}
#listadecampos label.largo{
	width:250px;
}
#listadecampos input[type='checkbox']{
	width:30px;
}
#listadecampos div[para='matriz'] label.largo{
	width:365px;
}
#listadecampos div[para='matriz'] label{
	width:120px;
}
#nuevocampo{
	display:none;
	background-color: lightblue;
}

#nuevocampo[estado='activo']{
	display:block;
}

#nuevocampo div[para='select']{
	display:none;
}
#nuevocampo[tipo='select'] div[para='select']{
	display:block;
}
#nuevocampo div[para='numero']{
	display:none;
}
#nuevocampo[tipo='numero'] div[para='numero']{
	display:block;
}
#nuevocampo div[para='numero']{
	display:none;
}
#nuevocampo div[para='matriz']{
	display:none;
}
#nuevocampo[matriz='true'] div[para='matriz']{
	display:block;
}
#nuevocampo[tipo='fecha'] div[para='fecha']{
	display:block;
}
#nuevocampo div[para='fecha']{
	display:none;
}

#editacampo div[para='select']{
	display:none;
}

#editacampo[tipo='select'] div[para='select']{
	display:block;
}
#editacampo div[para='numero']{
	display:none;
}
#editacampo[tipo='numero'] div[para='numero']{
	display:block;
}
#editacampo div[para='numero']{
	display:none;
}
#editacampo div[para='fecha'] {
  display: none;
}
#editacampo[tipo='fecha']  div[para='fecha'] {
  display: block;
}
#editacampo div[para='matriz']{
	display:none;
}
#editacampo[matriz='true'] div[para='matriz']{
	display:block;
}
#selectorarchivo{
	display:inline-block;
	position:relative;
	border:1px solid gray;
	width: 199px;
	text-align:right;
}



#selectorarchivo[modo="inactivo"]{
	display:none;
}
#selectorarchivo #titulo{
	position:absolute;
	top:-12px;
	font-size:11px;
	width: 120px;
	right: 0px;
}
#historicos{
	display:inline-block;
}
.historico{
	border:1px solid #08afd9;
	background-color:#dceff3;
	width:30px;
	margin:2px;
}
.historico[selecto='si']{
	margin:1px;
	border:2px solid #08afd9;
	background-color:#dceff3;
	width: 40px;
	text-align: center;
}
.historico span{
	display:inline-block;
	margin:1px;
	margin-top:5px;
	margin-bottom:0px;
}
.historico span.ano{
	display:block;
	margin:2px;
	margin-top:0px;
}

[modo='archivado'] #botonarchivar{
	display:none !important;
}
[modo='actual'] #botondesarchivar{
	display:none !important;
}
 #botondesarchivar{
	display:none !important;
}

#boton_borra_reg img{
	width:10px;
}
#boton_borra_reg{
	position:absolute;
	top: -3px;
	right: -3px;
}

#FormularioNuevaUA #botones{
	width:150px;
	display:inline-block;
	vertical-align:top;
}
#FormularioNuevaUA #selectorarchivo{
	display:inline-block;
	vertical-align:top;
}

#inputbuscadatos,#botonconfig,#botonusuario{
	display:none !important;
}		


#contenido[FormularioSubirPlanilla='si'] #FormularioSubirPlanilla{
	display:block;
}

#FormularioSubirPlanilla[archivocargado='si'] .upload{
		display:none;
}

#FormularioSubirPlanilla #asignacampos{
	display:none;
}

#FormularioSubirPlanilla[archivocargado='si'] #asignacampos{
	display:block;
}

#FormularioSubirPlanilla #asignanombre{
	display:none;
}

#FormularioSubirPlanilla[archivocargado='si'] #asignanombre{
	display:block;
}


#FormularioSubirPlanilla [name="modo_importacion"]{
	width:100%;
}

#FormularioSubirPlanilla input[type='checkbox']{
		width:10px;
}

#FormularioSubirPlanilla .mini_form_campo{
	margin:3px;
	border:1px solid gray;
	box-shadow:2px 2px 4px rgba(0,0,0,0.3);
}

#FormularioSubirPlanilla #modo{
	display:none;			
}


#FormularioSubirPlanilla[archivocargado='si'] #modo{
	display:block;			
}		


#FormularioSubirPlanilla #elegircapa, #FormularioSubirPlanilla #elegircamposcoords, #FormularioSubirPlanilla #elegircamposgeom{
	display:none;
}


#FormularioSubirPlanilla [modo_selecto="geo_capa"] #elegircapa{
	display:block;
}

#FormularioSubirPlanilla [modo_selecto="geo_coord"] #elegircamposcoords{
	display:block;
}

#FormularioSubirPlanilla [modo_selecto="geo_wkt"] #elegircamposgeom{
	display:block;
}


#FormularioSubirPlanilla #crear_campos{
	display:none;
}

#FormularioSubirPlanilla[crearcampos='si'] #crear_campos{
	display:block;
}		

#portamapa {
	max-height: calc(100% - 90px);
	max-width: 60%;
}

#mapa{
	max-width: 100%;
}

#portamapa #listadoUA{
	width: 230px;
	position:absolute;
	top:10px;
	right:10px;
	border: #bbb solid 1px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
	margin-bottom: 3px;
	padding: 3px;
	background-color:#fff;
	display:none;
}


#portamapa #listadoUA > a{
	position:absolute;
	top:2px;
	right:2px;
}
#portamapa #listadoUA h2 span{
	font-size:13px;
	font-weight:normal;
}

#portamapa #listadoUA #listadito a{
	width:calc(50% - 4px);
	border:1px solid #08afd9;
	margin:1px;
	display:inline-block;
	height:15px;
	overflow:hidden;
}


	
#portamapa #listadoUA[activo='si']{
	display:block;
}

#portamapa #listadoUA_total{
	width: 90px;
	position:absolute;
	top: 5px;
	right: 2px;
	border: #bbb solid 1px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
	margin-bottom: 3px;
	padding: 3px;
	background-color:#fff;
	display:block;
	max-height: calc(100% - 38px);
	overflow-y:scroll;
	scrollbar-width: thin;
	transition:max-height 1.5s;
}

#portamapa #listadoUA_total[abierto='-1']{
	max-height:19px;
	overflow:hidden;
}

#portamapa #listadoUA_total #listadito > a{ 
	width:calc(100% - 4px);
	border:1px solid #08afd9;
	margin:1px;
	display:inline-block;
	height:15px;
	overflow:hidden;
}

#portamapa #listadoUA_total #listadito > a[estado='0'],
#portamapa #listadoUA_total #listadito > a[estado='null']{ 
	background-color:  rgb(255, 90, 90);
	color:  rgb(0 , 90, 125);
}

.multiply{
   mix-blend-mode: multiply;
    mix-blend-mode: normal;
  
}


#muestradocumento{
	display:none;
	position:fixed;
	top:10vh;
	left:20vw;
	height:80vh;
	width:60vw;
	background-color:#fff;
	border:2px solid #000;
	box-shadow:10px 10px 5px #000;
	z-index:5000;
}
#muestradocumento #contenido{
	overflow:scroll;
	
}
#muestradocumento #contenido img{
	max-width:calc(60vw - 90px);
	max-height:calc(80vh - 90px);
}

#muestradocumento[estado='activo']{
	display:block;
	width:calc(60vw - 80px);
	height:calc(80vh - 80px);
	margin:40px;
}

/*@media screen and (orientation:portrait) {*/
@media screen and (max-aspect-ratio: 3/4) {

	#pageborde{
		height: calc(100vh - 6px);
		margin: 0px auto;
	}
	#page{
		height: calc(100vh - 6px);
	}	
	
	#page div#cuadrovalores {
	  position: relative;
	  width: 100vw;
	  height: 50vh;
	  top: 0;
	}

	#page div#cuadrovalores #contenido{
		height:50vh;
		width:100vw;
	}
	
	#mapa{
		width:100vw !important;
		height:50vh !important;	
	}
	
	#portamapa {
		max-width: 100%;
	}


	#FormularioRegistro #autoria{
		right: -2px;
	}
}
